*{margin: 0;}
#top{
	background-color: black;
	width: 100%;
	height: 90px;
	
}
#z{
	/* background-color: yellow; */
	width: 75%;
	height: 900px;
	margin: 0px auto;
	width: 1580px;
	height: 720px;
	background-image: url(https://i1.100024.xyz/i/2020/10/09/ntycc2.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
#x{
	background-color: aqua;
	width: 100%;
	height: 90px;
}

	
